.toggleContainer {
  display: inline-block;
  cursor: pointer;
  position: relative;
}

.toggleCheckbox {
  cursor: pointer;
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
}

.toggleSlot {
  cursor: pointer;
  position: relative;
  height: 1.25em; /* Half of the previous size */
  width: 2.5em;    /* Half of the previous size */
  border: 2px solid #272727;
  border-radius: 1.25em;
  background-color: white;
  transition: background-color 250ms;
}

.toggleCheckbox:checked ~ .toggleSlot {
  background-color: #374151;
}

.toggleButton {
  transform: translate(1.4em, 0.2em); /* Adjusted position */
  position: absolute;
  height: 0.75em; /* Half of the previous size */
  width: 0.75em;  /* Half of the previous size */
  border-radius: 50%;
  background-color: #ffeccf;
  box-shadow: inset 0px 0px 0px 0.15em #ffbb52;
  transition: background-color 250ms, border-color 250ms, transform 500ms cubic-bezier(.26,2,.46,.71);
}

.toggleCheckbox:checked ~ .toggleSlot .toggleButton {
  background-color: #485367;
  box-shadow: inset 0px 0px 0px 0.15em white;
  transform: translate(0.2em, 0.2em); /* Adjusted position */
}

.sunIcon {
  position: absolute;
  height: 0.6em; /* Half of the previous size */
  width: 0.6em;  /* Half of the previous size */
  color: #ffbb52;
}

.sunIconWrapper {
  position: absolute;
  height: 0.6em;
  width: 0.6em;
  opacity: 1;
  transform: translate(0.25em, 0.25em) rotate(15deg); /* Adjusted position */
  transform-origin: 50% 50%;
  transition: opacity 150ms, transform 500ms cubic-bezier(.26,2,.46,.71);
}

.toggleCheckbox:checked ~ .toggleSlot .sunIconWrapper {
  opacity: 0;
  transform: translate(0.35em, 0.25em) rotate(0deg);
}

.moonIcon {
  position: absolute;
  height: 0.6em; /* Half of the previous size */
  width: 0.6em;  /* Half of the previous size */
  color: white;
}

.moonIconWrapper {
  position: absolute;
  height: 0.6em;
  width: 0.6em;
  opacity: 0;
  transform: translate(1.6em, 0.25em) rotate(0deg); /* Adjusted position */
  transform-origin: 50% 50%;
  transition: opacity 150ms, transform 500ms cubic-bezier(.26,2.5,.46,.71);
}

.toggleCheckbox:checked ~ .toggleSlot .moonIconWrapper {
  opacity: 1;
  transform: translate(1.75em, 0.25em) rotate(-15deg);
}
